body{
    margin-top: 100px;
    background-color: lightslategray;
}

.qtext {
    font-size: 30px;   
    text-align: center;
    vertical-align: bottom;
    text-shadow: 1px 1px lightgray;
}

.qbutton {
    margin: 0 auto;
}

.card{
    height: 300px;
    
}